/*-------------------------------------------
共通
-------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    color: #24292E;
    font-size: 0.9rem;
}

a {
    color: #24292E;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    opacity: 0.5;
    transition: 0.4s;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style: none;
}